<main>
  <h1 class="page-title">My Blog</h1>

  <!-- Add Post Component -->
  <form class="form card">
    <h3 class="form__title">New Blog Post</h3>
    <div class="form__group">
      <label class="form__label" for="post-title">Title</label>
      <input type="text" class="form__input" id="post-title">
    </div>
    <div class="form__group">
      <label class="form__label" for="post-body">Body</label>
      <textarea rows="10" class="form__input" id="post-body"></textarea>
    </div>
    <div class="form__controls">
      <button>Create Post</button>
    </div>
  </form>

  <!-- List of posts -->
  <div class="post card">
    <h3 class="post__title">Post Title</h3>
    <div class="post__text">
      <p>alksjdlkgsl glsd glsdgj sdofjs dfsodflsdf lsdfld</p>
      <p> asdkjlsdkgasgkasjdlgkjasdlkjgalskdjglasdjls.s.s..sdlkjgsd lskd fjskdjf</p>
    </div>
    <div class="post__controls">
      <button>Delete Post</button>
    </div>
  </div>
</main>